# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

env:
  DOCKERHUB_IMAGE: pbmobile-ui_angular-service

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Cache
      uses: actions/cache@v2.1.6
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    # - name: package-version
    #   uses: nyaa8/package-version@v1.0.3
    # - name: Print current node package version number
    #   run: |
    #     echo "NODE PACKAGE VERSION is ${{ env.PACKAGE_VERSION }}"

    - name: Install
      run: |
        npm install
    - name: Run tests
      run: npm run test:headless
    - name: Build
      run: npm run build:prod
    - name: deploy
      if: success()
      uses: peaceiris/actions-gh-pages@v3
      with:
          github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
          publish_dir: dist/pbmobile-ui
          enable_jekyll: true
      # run: |
      #   git config --global user.name $user_name
      #   git config --global user.email $user_email
      #   git remote set-url origin https://${github_token}@github.com/${repository}
      #   npm run deploy
      # env:
      #   user_name: 'github-actions[bot]'
      #   user_email: 'github-actions[bot]@users.noreply.github.com'
      #   github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
      #   repository: ${{ github.repository }}
  Push_to_Docker_Hub:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # build docker image and push to docker hub
    # only if the pb-mobile build and test successfully
    needs: [build]

    steps:
      - name: checkout repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create timestamp for docker image tag
        run: echo "TS=$(date +'%Y-%m-%d-%H-%M-%S')" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKERHUB_IMAGE }}:${{ env.TS }}, ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKERHUB_IMAGE }}:latest

      - name: Run the image in a container
        uses: addnab/docker-run-action@v3
        with:
          image: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKERHUB_IMAGE }}:latest
          run: |
            echo "running the docker image"
            echo "Testing the nodejs  app endpoints"
            echo ${{ steps.docker_build.outputs.digest }}

